<<<<<<< HEAD
#products_data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
=======
#products_data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
>>>>>>> e15b2a3e488058d4b3f5faf800454f0800d8bdbc
}