
form{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(1,300px) ;
    height: 300px;
 
    padding:20px;
    
    }
    #create{
        width: 45%;
        justify-content: center;
    align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  
    }
    #create>h1{
        text-align: center;
    }
    thead>tr>th{
        background-color: yellow;
        font-weight: bold;
        padding: 7px;
        margin: 4px;
      
    }