<<<<<<< HEAD
   
#movie{
    margin: 0 32%;
    padding: 5px;
}

#wallet{
    margin: 0px;
    text-align: right;
=======
   
#movie{
    margin: 0 32%;
    padding: 5px;
}

#wallet{
    margin: 0px;
    text-align: right;
>>>>>>> e15b2a3e488058d4b3f5faf800454f0800d8bdbc
}