<<<<<<< HEAD
#items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
}
.poster{
    width: 350px;
    margin: 10px;
    padding: 10px;
}
#navbar{
    display: flex;
}
#navbar div{
    margin: 12px;
    font-size: 20px;
=======
#items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.poster{
    width: 50px;
    margin: 10px;
    padding: 10px;
}
#navbar{
    display: flex;
}
#navbar div{
    margin: 12px;
    font-size: 20px;
>>>>>>> e15b2a3e488058d4b3f5faf800454f0800d8bdbc
}